/* styles.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #C08B5C;
  }
  
  .container {
    text-align: center;
    background-color: #795458;
    color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: black;
  }
  
  input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid white;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #453F78;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  #feedback {
    margin-top: 10px;
    font-weight: bold;
  }
  
  #attemptsLeft {
    color: white;
  }
  
  @media only screen and (max-width: 767px){
    .container{
    margin: 90%; 
   height: auto;
  width: 90%;
  }
          /* Tablet styles */
@media (max-width: 1023px) {
    

    .container {
        width: 90%;
        margin: 90%;
        height: auto;
    }
}
      }
  